%table.index_table
  %tbody
    %tr
      %th(width = "200px") Permiso de Diario No
      %td
        %h4
          %b= @permiso_pernocta.id
    %tr
      %th Id Vehiculo
      %td
        %h4
          %b= @vehiculo
    %tr
      %th Justificacion:
      %td
        %h4
          %b= @permiso_pernocta.justificacion
    %tr
      %th Observaciones:
      %td
        %h4
          %b= @permiso_pernocta.observaciones
    %tr
      %th Fecha y hora de salida:
      %td
        %h4
          %b= "#{@permiso_pernocta.fecha_hora_salida.day}/#{@permiso_pernocta.fecha_hora_salida.month}/#{@permiso_pernocta.fecha_hora_salida.year} - #{@permiso_pernocta.fecha_hora_salida.hour}:#{@permiso_pernocta.fecha_hora_salida.min}"
    %tr
      %th Fecha y hora de llegada:
      %td
        %h4
          %b= "#{@permiso_pernocta.fecha_hora_llegada.day}/#{@permiso_pernocta.fecha_hora_llegada.month}/#{@permiso_pernocta.fecha_hora_llegada.year} - #{@permiso_pernocta.fecha_hora_llegada.hour}:#{@permiso_pernocta.fecha_hora_llegada.min}"
    %tr
      %th Solicita:
      %td
        %h4
          %b= @solicita
    %tr
      %th VoBo:
      %td
        %h4
          %b= @jefe
    %tr
      %th Tramita:
      %td
        %h4
          %b= @permiso_pernocta.tramito
    %tr
      %th Autoriza:
      %td
        %h4
          %b= @permiso_pernocta.autorizo
    %tr
      %th Estado:
      %td
        %h4
          %b= @permiso_pernocta.estado
    %tr
      %td
        %h4= button_to "Autorizar", autorizar_permiso_pernocta_path(@permiso_pernocta.id) 
      %td
        %h4= button_to "Rechazar", rechazar_permiso_pernocta_path(@permiso_pernocta.id) 
