= form_for @user, :url => "update_password" do |f| 
  #formpos(align="center")
    %h3 Cambiar contraseña:
    %table
      %tr
        %td(width="150")
          = f.label :password, "Nueva contraseña:"
        %td
          = f.password_field :password 
      %tr
        %td
          = f.label :password_confirmation, "Confirmar contraseña:"
        %td
          = f.password_field :password_confirmation 
      %tr
        %td
        %td
          = f.submit "Aceptar"
