= form_for @user, :url => "update_password" do |f| 
  = f.label :password, "Nueva contraseña"
  = f.password_field :password 
  %br
  = f.label :password_confirmation, "Confirmar contraseña"
  = f.password_field :password_confirmation 

  = f.submit "Aceptar"
