= form_for @permiso_pernocta, :url => "create" do |f|
  #formpos
    %table.index_table
      %tbody
        %tr
          %th(width="150px")= f.label "Folio"
          %td= f.label "#{@id}"
        %tr
          %th= f.label :auto_id
          %td= f.select :auto_id, @vehiculos.collect {|p| [p.tipo, p.id]}
        %tr
          %th= f.label "Justificación"
          %td
            = f.radio_button :justificacion,"Estancia del vehiculo en el taller"
            %b= f.label "Estancia del vehiculo en el taller"
            %br
            = f.radio_button :justificacion,"Comision local no mayor a tres dias segun oficion de comision anexo"
            %b= f.label "Comision local no mayor a tres dias segun oficion de comision anexo"
            %br
            = f.radio_button :justificacion,"Comision foranea, segun oficio de comision anexo"
            %b= f.label "Comision foranea, segun oficio de comision anexo"
            %br
            = f.radio_button :justificacion,"Otro"
            %b= f.label "Otro (Especificado en las observaciones)"
        %tr
          %th= f.label :observaciones
          %td= f.text_field :observaciones
        %tr
          %th= f.label :fecha_hora_salida
          %td= f.datetime_select :fecha_hora_salida
        %tr
          %th= f.label :fecha_hora_llegada
          %td= f.datetime_select :fecha_hora_llegada
        %tr
          %th= f.label :domicilio_pernocta
          %td= f.text_field :domicilio_pernocta
        %tr
          %th= f.label :num_oficio
          %td= f.text_field :num_oficio
        %tr
          %th Solicita
          %td= @solicita
        %tr
          %th Vo.Bo.
          %td= @VoBo
        %tr
          %th Tramita
          %td Lic. Hector Hernandez Rolón
        %tr
          %th Autoriza
          %td Dr. Salvador Becerra Rodriguez
        %tr
          %td
          %td= f.submit "Crear permiso"
