= paginate @permiso_pernocta
%table.index_table
  %tbody
    %tr
      %th ID
      %th Auto
      %th Justificacion
      %th Observaciones
      %th Fecha y hora de salida
      %th Fecha y hora de llegada
      %th Domicilio de pernocta
      %th #
      %th VoBo
      %th Tramito
      %th Autorizo
      %th Estado
      %th Imprimir
  - @permiso_pernocta.each do |permiso|
    %tr
      %td= permiso.id
      %td= permiso.auto_id
      %td= permiso.justificacion
      %td= permiso.observaciones
      %td= permiso.fecha_hora_salida
      %td= permiso.fecha_hora_llegada
      %td= permiso.domicilio_pernocta
      %td= permiso.num_oficio
      %td= permiso.VoBo_id
      %td= permiso.tramito
      %td= permiso.autorizo
      %td= permiso.estado
      %td= link_to "HTML", show_pdf_path(permiso,:format => :html)
