#formpos-html 
  #vistahtml
    #pdf-sello
      #pdf-titulo(align="right")
        %br
        %h6 OFICIO DE AUTORIZACIÓN PARA USO DE VEHÍCULO  
        %h6 OFICIAL FUERA DE HORARIOS DE LABORES, FINES DE   
        %h6 SEMANA Y DÍAS INHABILES
        %br
    #pdf-logo
      #pdf-sello1(align="center")
        %br
        = image_tag("Logo.jpg")
      #pdf-sello2(align="center")
        %br
        %br
        %br
        %h6 Secretaría de Agricultura
        %h6 Ganadería, Desarrollo Rural, Pesca Y
        %h6 Alimentación
        %br
    #pdf-titular
      #pdf-idpernocta(align="center")
        %h6 Número de Folio:
        = @permiso_diario.id
      #pdf-sello3(align="left")
        %br
        %h6 Dr. Salvador Becerra Rodríguez
        %h6 Delegado Federal de la SAGARPA en el
        %h6 Estado de Colima
        %h6 Presente
        %br
    #pdf-fecha(align="right")
      %h6= "Colima, Col. a #{@permiso_diario.fecha.day} de #{@permiso_diario.fecha.month} de #{@permiso_diario.fecha.year}"
      %br
    #pdf-texto(align="left")
      %br
      %p De conformidad con el numeral 2.15.3 Asignación de vehículos, de la Circular 01-2008 emitida por la Oficialía Mayor de la SAGARPA, mediante  el cual se establecen los lineamientos de transportación y las medidas de austeridad y discipliina para el uso del parque vehicular de la Delegación, solicito autorización para que el siguiente vehículo no pernocte en las instalaciones de la Delegación bajo los siguientes términos:
      %br
    #pdf-tabla1
      %table.index_table
        %thead
          %tr
            %th Vehículo Placas:
            %th Marca:
            %th Modelo:
        %tbody
          %tr
            %td
              = @vehiculo.placa_actual
            %td
              = @vehiculo.brand
            %td
              = @vehiculo.year
    #pdf-tabla2
      %table.index_table
        %thead
          %tr
            %th Justificación:
            %th Observaciones:
            %th Fecha y hora requeridas:
        %tbody
          %td
            = @permiso_diario.justificacion
          %td
            = @permiso_diario.observaciones
          %td
            %h6= "#{@permiso_diario.fecha.day} / #{@permiso_diario.fecha.month} / #{@permiso_diario.fecha.year}, de las #{@permiso_diario.hora_salida.hour}:#{@permiso_diario.hora_salida.min} a las #{@permiso_diario.hora_llegada.hour}:#{@permiso_diario.hora_llegada.min}"
      %br
      %br
      %br
      %br
      %table.index_table
        %thead
          %tr
            %th Solicita:
            %th Jefe de Área:
            %th Autoriza:
        %tbody
          %td
            = @solicita
          %td
            = @VoBo
          %td
            = @permiso_diario.autorizo
