!!!
%html
  %head
    %title Control de parque vehicular SAGARPA
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #page
      #sesion
        %p(class = 'notice')= notice
        %p(class = 'alert')= alert
      #header	
        #app_logo
      #navigation(align = "center") 
        #op1(align = "center")
          = link_to image_tag("Iniciobotton.jpg"), root_path
        #op2(align = "center")
          = link_to image_tag("Solicitantebotton.jpg"), menu_solicitante_path
        #op3(align = "center")
          = link_to image_tag("Vigilantebotton.jpg")
        #status1(align = "right")
          -if user_signed_in?
            = current_user.email
            = link_to image_tag("Salirbotton.jpg"), destroy_user_session_path, :method => :delete
          -else
            #status2(align = "center")
              = link_to image_tag("Sesionbotton.jpg"), new_user_session_path
            #status3(align = "center")
              = link_to image_tag("Registrarsebotton.jpg"), new_user_registration_path
        #section
          #article
            = yield
        #footer
