!!!
%html
  %head
    %title Control de parque vehicular
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #page
      #sesion
        %p(class = 'notice')= notice
        %p(class = 'alert')= alert
      #header	
        #app_logo
      #navigation(align = "center") 
        #op1(align = "center")
          = link_to image_tag("Iniciobutton.jpg"), root_path
        #op2(align = "center")
          = link_to image_tag("Solicitantebutton.jpg"), menu_solicitante_path
        #op3(align = "center")
          = link_to image_tag("Administradorbutton.jpg"), menu_administrador_path
        #status1(align = "right")
          -if user_signed_in?
            #status4(align = "center")
              = current_user.email 
            #status3
              = link_to image_tag("Cerrarsesionbutton.jpg"), destroy_user_session_path, :method => :delete
          -else
            #status2(align = "center")
              = link_to image_tag("Iniciarsesionbutton.jpg"), new_user_session_path
            #status3(align = "center")
              = link_to image_tag("Registrarsebutton.jpg"), new_user_registration_path
      #section
        #article
          =yield
      #footer
        #foothome(align="center")
          =link_to "Inicio", root_path
        #footsolicitante(align="center")
          =link_to "Solicitante", menu_solicitante_path
        #footadministrador
          =link_to "Administrador"
